<app-carousel> </app-carousel>
<div class='page-wrapper'>
    <!-- Deals of the day -->
    <div class='page-body'>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar> <img src="assets/timer.svg" height="24" width="24"> </div>
                <mat-card-title>DEALS OF THE DAY</mat-card-title>
                <mat-card-subtitle>{{countDown}}</mat-card-subtitle>
            </mat-card-header>
            <div class="row">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-lg-6 col-xl-3 col-md-6 col-6"
                            *ngFor='let deal of dealsOfTheDay; let index = index;'
                            [routerLink]="'../products/Hot_Deals/' + deal.catCode">
                            <div class='pointer' *ngIf='index < 4'>
                                <div class='img-wrapper'>
                                    <img class="img-deals" [src]="deal.url">
                                </div>
                                <div class="user-content">
                                    <p class="m-b-0 b">{{deal.catName}}</p>
                                    <p class="m-b-0 green">{{deal.offer}}</p>
                                    <p class="m-b-0 text-muted">{{deal.catSub}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-lg-6 col-xl-3 col-md-6 col-6"
                            *ngFor='let deal of dealsOfTheDay; let index = index;'
                            [routerLink]="'../products/Hot_Deals/' + deal.catCode">
                            <div class='pointer' *ngIf='index >= 4 && index < 8'>
                                <div class='img-wrapper'>
                                    <img class="img-deals" [src]="deal.url">
                                </div>
                                <div class="user-content">
                                    <p class="m-b-0 b">{{deal.catName}}</p>
                                    <p class="m-b-0 green">{{deal.offer}}</p>
                                    <p class="m-b-0 text-muted">{{deal.catSub}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <mat-card-actions style='text-align: right;'>
                <button mat-button style="background-color: #3f51b5;
                color: white;" routerLink="../products/Hot_Deals">VIEW ALL</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div class='page-wrapper'>
    <!-- Top Selection -->
    <div class='page-body'>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon> grade</mat-icon>
                </div>
                <mat-card-title>TOP SELECTION</mat-card-title>
                <mat-card-subtitle> </mat-card-subtitle>
            </mat-card-header>
            <div class="row">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-lg-6 col-xl-3 col-md-6 col-6"
                            *ngFor='let deal of topSelection; let index = index;'
                            [routerLink]="'../products/Top_Selection/' + deal.catCode">
                            <div class='pointer' *ngIf='index < 4'>
                                <div class='img-wrapper'>
                                    <img class="img-deals" [src]="deal.url">
                                </div>
                                <div class="user-content">
                                    <p class="m-b-0 b">{{deal.catName}}</p>
                                    <p class="m-b-0 text-muted">{{deal.catSub}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-lg-6 col-xl-3 col-md-6 col-6"
                            *ngFor='let deal of topSelection; let index = index;'
                            [routerLink]="'../products/Top_Selection/' + deal.catCode">
                            <div class='pointer' *ngIf='index >= 4 && index < 8'>
                                <div class='img-wrapper'>
                                    <img class="img-deals" [src]="deal.url">
                                </div>
                                <div class="user-content">
                                    <p class="m-b-0 b">{{deal.catName}}</p>
                                    <p class="m-b-0 text-muted">{{deal.catSub}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <mat-card-actions style='text-align: right;'>
                <button mat-button style="background-color: #3f51b5;
                color: white;" routerLink="../products/Top_Selection">VIEW ALL</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div class='page-wrapper'>
    <div class='page-body'>
        <div class="row users-card">
            <div class="col-lg-6 col-xl-3 col-md-6" *ngFor='let cat of categories'>
                <div class="card rounded-card user-card">
                    <div class="card-block">
                        <div class="img-hover">
                            <img alt="round-img" class="img-fluid img-radius" [src]="cat.url">
                        </div>
                        <div class="user-content">
                            <p class="m-b-0 text-muted">{{cat.catName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>