<app-carousel> </app-carousel>
<div class='page-wrapper'>
    <div class='page-body'>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar> <img src="assets/timer.svg" height="24" width="24"> </div>
                <mat-card-title>DEALS OF THE DAY</mat-card-title>
                <mat-card-subtitle>{{countDown}}</mat-card-subtitle>
            </mat-card-header>
            <div class="row">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-lg-6 col-xl-3 col-md-6 col-6">
                            <div>
                                <div class='img-wrapper'>
                                    <img class="img-deals" src="assets\Hot_Deals\headphones.jpg">
                                </div>
                                <div class="user-content">
                                    <p class="m-b-0 b">Headphones and Speakers</p>
                                    <p class="m-b-0 green">Upto 50% off</p>
                                    <p class="m-b-0 text-muted">JBL, Sony & More</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-3 col-md-6 col-6">
                            <div>
                                <div class='img-wrapper'>
                                    <img class="img-deals" src="assets\Hot_Deals\beverages.jpg">
                                </div>
                                <div class="user-content">
                                    <p class="m-b-0 b">Health Drinks & Beverages</p>
                                    <p class="m-b-0 green">Extra 5% Off</p>
                                    <p class="m-b-0 text-muted">Bournvita, Nescafe & More</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-3 col-md-6 col-6">
                            <div>
                                <div class='img-wrapper'>
                                    <img class="img-deals" src="assets\Hot_Deals\homeDecor.jpg">
                                </div>
                                <div class="user-content">
                                    <p class="m-b-0 b">Home Decor Range</p>
                                    <p class="m-b-0 green">From ₹49</p>
                                    <p class="m-b-0 text-muted">Stickers & more</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-3 col-md-6 col-6">
                            <div>
                                <div class='img-wrapper'>
                                    <img class="img-deals" src="assets\Hot_Deals\metronaut.jpg">
                                </div>
                                <div class="user-content">
                                    <p class="m-b-0 b">Metronaut, Provogue & More</p>
                                    <p class="m-b-0 green">Upto80%Off+Extra5%Off</p>
                                    <p class="m-b-0 text-muted">Tops, Dresses & More</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-lg-6 col-xl-3 col-md-6 col-6">
                            <div>
                                <div class='img-wrapper'>
                                    <img class="img-deals" src="assets\Hot_Deals\shoes.jpg">
                                </div>
                                <div class="user-content">
                                    <p class="m-b-0 b">ADIDAS, Puma...</p>
                                    <p class="m-b-0 green">Upto 50%+Extra 5% Off</p>
                                    <p class="m-b-0 text-muted">Walking, Running Shoes...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-3 col-md-6 col-6">
                            <div>
                                <div class='img-wrapper'>
                                    <img class="img-deals" src="assets\Hot_Deals\blackzone.jpg">
                                </div>
                                <div class="user-content">
                                    <p class="m-b-0 b">Blackzone & Hicell keypad Phones</p>
                                    <p class="m-b-0 green">Extra Rs100 off</p>
                                    <p class="m-b-0 text-muted">Walking, Running Shoes...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-3 col-md-6 col-6">
                            <div>
                                <div class='img-wrapper'>
                                    <img class="img-deals" src="assets\Hot_Deals\watch.jpg">
                                </div>
                                <div class="user-content">
                                    <p class="m-b-0 b">Fastrack, Timex & more</p>
                                    <p class="m-b-0 green">Upto 70%+Extra 5% off</p>
                                    <p class="m-b-0 text-muted">#Wear your Style</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-3 col-md-6 col-6">
                            <div>
                                <div class='img-wrapper'>
                                    <img class="img-deals" src="assets\Hot_Deals\tshirt.jpg">
                                </div>
                                <div class="user-content">
                                    <p class="m-b-0 b">T-Shirts & Jeans</p>
                                    <p class="m-b-0 green">Upto 60%+Extra 5%Off</p>
                                    <p class="m-b-0 text-muted">Grab Now</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <mat-card-actions style='text-align: right;'>
                <button mat-button style="background-color: #3f51b5;
                color: white;">VIEW ALL</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div class='page-wrapper'>
    <div class='page-body'>
        <div class="row users-card">
            <div class="col-lg-6 col-xl-3 col-md-6">
                <div class="card rounded-card user-card">
                    <div class="card-block">
                        <div class="img-hover">
                            <img alt="round-img" class="img-fluid img-radius" src="assets/categoryHairbow.jpg">
                        </div>
                        <div class="user-content">
                            <p class="m-b-0 text-muted">Hair Bows</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 col-md-6">
                <div class="card rounded-card user-card">
                    <div class="card-block">
                        <div class="img-hover">
                            <img alt="round-img" class="img-fluid img-radius" src="assets/categoryHandBags.jpg">
                        </div>
                        <div class="user-content">
                            <p class="m-b-0 text-muted">Hand Bags</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 col-md-6">
                <div class="card rounded-card user-card">
                    <div class="card-block">
                        <div class="img-hover">
                            <img alt="round-img" class="img-fluid img-radius" src="assets/categoryCosmetics.jpg">
                        </div>
                        <div class="user-content">
                            <p class="m-b-0 text-muted"> Cosmetics </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 col-md-6">
                <div class="card rounded-card user-card">
                    <div class="card-block">
                        <div class="img-hover">
                            <img alt="round-img" class="img-fluid img-radius" src="assets/categoryCloths.jpg">
                        </div>
                        <div class="user-content">
                            <p class="m-b-0 text-muted">Clothing and summer wear</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 col-md-6">
                <div class="card rounded-card user-card">
                    <div class="card-block">
                        <div class="img-hover">
                            <img alt="round-img" class="img-fluid img-radius" src="assets/categoryUtensils.jpg">
                        </div>
                        <div class="user-content">
                            <p class="m-b-0 text-muted">Utensils and Blah</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 col-md-6">
                <div class="card rounded-card user-card">
                    <div class="card-block">
                        <div class="img-hover">
                            <img alt="round-img" class="img-fluid img-radius" src="assets/categoryBathItems.jpg">
                        </div>
                        <div class="user-content">
                            <p class="m-b-0 text-muted">Bath Items</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 col-md-6">
                <div class="card rounded-card user-card">
                    <div class="card-block">
                        <div class="img-hover">
                            <img alt="round-img" class="img-fluid img-radius" src="assets/Gym_Equipment_large.jpg">
                        </div>
                        <div class="user-content">
                            <p class="m-b-0 text-muted">Gym Equipment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>