@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
.spacer {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

mat-toolbar-row {
    background-color: lightseagreen;
}

.sidenav-container {
    height: 100vh;
}

.sidenav {
    width: 20%;
    min-width: 250px;
}

.fixed-header {
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.title-web {
    font-size: 24px;
}

.title-mobile {
    font-size: 12px;
}

.scroll-text {
    font-size: 50px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Yellowtail', cursive;
}