.container-cls {
    width: 40vh;
    min-width: 290px;
}

.full-width {
    width: 100%;
    height: 100%;
}

::ng-deep {
    .mat-dialog-container {
        padding: 0px !important;
    }
    .mat-tab-body-wrapper {
        height: 100%;
    }
    .mat-tab-group {
        height: 100%;
    }
}

.stretch {
    width: 100%;
}

.mt-40 {
    margin-top: 40px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mt-63 {
    margin-top: 63px !important;
}

.mb-63 {
    margin-bottom: 63px !important;
}