<div class="container-cls">
    <mat-card class="full-width">

        <mat-tab-group animationDuration="1000ms" mat-stretch-tabs>
            <mat-tab label="Sign In">Sign In
                <form class="mt-40">
                    <mat-form-field class="stretch">
                        <mat-label>Email ID</mat-label>
                        <input matInput type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                        <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear"
                            (click)="email=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="stretch">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                        <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear"
                            (click)="password=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </form>
            </mat-tab>
            <mat-tab label="Sign Up">Sign Up
                <form class="mt-40">
                    <mat-form-field class="stretch">
                        <mat-label>Email ID</mat-label>
                        <input matInput type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                        <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear"
                            (click)="email=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="stretch">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                        <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear"
                            (click)="password=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </form>
            </mat-tab>
        </mat-tab-group>



    </mat-card>
</div>